@import "tailwindcss";
@import "./crepe.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-nord-neutral: #494e59;
  --color-nord-neutral-dark: #eff1f5;
  --color-nord-neutral-deep: #2e3440;
  --color-nord-neutral-deep-dark: #eceff4;
  --color-nord-dim: #abaeb3;
  --color-nord-dim-dark: #f7f9fb;
  --color-nord-solid: #636c7d;
  --color-nord-solid-dark: #d8dee9;
  --color-nord-primary: #5e81ac;
  --color-nord-secondary: #cfdbe7;
  --color-nord-secondary-deep: #81a1c1;
  --color-nord-secondary-dim: #f0f4f8;
  --color-nord-outline: #d8dee9;
  --color-nord-outline-dark: #434c5e;
  --color-nord-background: #eceff4;
  --color-nord-background-dark: #2e3440;
  --color-nord-foreground: #ffffff;
  --color-nord-foreground-dark: #252932;

  --font-sans: var(--font-nunito);

  --drop-shadow-custom: 0 2px 5px rgba(184, 194, 215, 0.2);
  --drop-shadow-custom-dark: 0 2px 5px rgba(15, 17, 21, 0.2);
}

.pr-scrollbar {
  padding-right: var(--scrollbar-width);
}

.pr-scrollbar-header {
  padding-right: calc(var(--scrollbar-width) + 1rem);
}

@keyframes liquidFlow {
  0% {
    transform: translateY(-200px) scaleY(0);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

.liquid-cover {
  .liquid-bg {
    svg {
      width: 100%;
      height: auto;
      g {
        @apply drop-shadow-(--drop-shadow-custom) dark:drop-shadow-(--drop-shadow-custom-dark);

        path {
          @apply fill-nord-foreground dark:fill-nord-foreground-dark;
          animation: liquidFlow 1.2s ease-in-out forwards;
          transform-origin: center top;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.liquid-content {
  animation: fadeIn 0.5s ease var(--animation-delay) backwards;
  &.content-delay-300 {
    --animation-delay: 0.3s;
  }
  &.content-delay-500 {
    --animation-delay: 0.5s;
  }
  &.content-delay-700 {
    --animation-delay: 0.7s;
  }
}
