---
type Heading = {
  depth: number;
  slug: string;
  text: string;
};

type Props = {
  headings: Heading[];
};

const headings = Astro.props.headings.filter((heading) => heading.depth > 1 && heading.depth < 4);
---

{
  headings.length > 0 && (
    <aside class="hidden xl:block">
      <nav class="styled-scrollbar sticky top-32 flex max-h-[calc(100vh-10rem)] flex-col gap-2 overflow-y-auto pr-3 text-sm">
        {headings.map((heading) => (
          <a
            href={`#${heading.slug}`}
            class:list={[
              "rounded py-1 transition hover:text-nord-primary",
              heading.depth === 3 ? "pl-4 text-nord-dim dark:text-nord-dim-dark" : "font-semibold",
            ]}
          >
            {heading.text}
          </a>
        ))}
      </nav>
    </aside>
  )
}
