<footer class="bg-gray-200 py-8 dark:bg-gray-700 md:py-12">
  <div class="content-shell flex flex-col items-center gap-4 md:flex-row">
    <a
      class="flex-1 text-xs text-nord-neutral/80 transition hover:text-nord-neutral dark:text-nord-neutral-dark/80 dark:hover:text-nord-neutral-dark md:text-sm"
      href="https://beian.miit.gov.cn/"
    >
      鄂ICP备2021016577号-2
    </a>
    <div
      class="flex-1 text-center text-xs font-light text-nord-neutral-deep/40 dark:text-nord-neutral-deep-dark/40 md:text-left md:text-sm"
    >
      MIT Licensed | Copyright © 2025-present Gaspard Ruan
    </div>
  </div>
</footer>
